In [2]:
import numpy as np
import pandas as pd
from os import system as linux
linux("clear")

s = pd.Series([1, 3, 5, np.nan, 6, 8])
print(s)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df = pd.DataFrame(np.random.randn(6, 5), index=dates, columns=list("ABCDE"))

df

                   A         B         C         D         E
2013-01-01  1.536800  0.127284 -0.575580  0.551290  0.038893
2013-01-02 -0.674537  0.351981 -0.212198  0.338827 -0.202891
2013-01-03  2.122618  1.482247 -0.905170 -0.418462 -0.873496
2013-01-04 -1.358424  2.058227 -0.754635 -0.671290  0.832458
2013-01-05  0.620782  0.427584  1.813982  0.777777  0.856175
2013-01-06  0.233225 -0.664000 -0.072358  0.764568 -1.189972